@font-face {
	font-family: nexa;
	src: url(nexalight.otf);
}

html, body {
	background-color: #BDFCC9;
	font-family: nexa;
	background-image: url(download.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-repeat-y: inherit;
}

panel > fieldset {
	background-color: rgba(143,216,216,1);
	-webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0.3em;
    -webkit-padding-start: 0em;
    -webkit-padding-end: 0em;
    -webkit-padding-after: 0.3em;
}

panel > label {
	font-size: 5vw;
}

panel > fieldset > div, a, p {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}